    <!DOCTYPE html>
    <html>
    	<head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->

          <!-- Temporarily disabled CSS block
            <link rel="stylesheet" type="text/css" href="/css/main.css">
          -->
	</head>
    	<body>
            <nav>
              <a name="top"></a>{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}{% for p in navigation_pages %}{% if p.navigation_weight %}<a href="{{ p.url }}">{% if p.url == page.url %}<strong>{% endif %}{{ p.navi_title }}{% if p.url == page.url %}</strong>{% endif %}</a>&nbsp;{% endif %}{% endfor %}
            </nav>
            <hr>
            <div class="container">

            {{ content }}

            </div>
            <!-- /.container -->
            <footer>
              {% if page.navi_title == 'Blog Post' %}<a href="#top">Top</a>{% endif %}
              <hr>
              <a href="https://github.com/beingy">GitHub</a>&nbsp;<a href="https://learn.co/beingy">Learn.co</a>
            </footer>
    	</body>
    </html>
